ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 20px;
  }
  
  ul li strong {
    font-weight: bold;
  }
  
  ul li div {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  ul li div section {
    margin-bottom: 10px;
  }
  
  ul li div article {
    font-style: italic;
  }
  