<div>
            
    <h1>
        Horario Clase - 2024
        <small>
            , Primer Semestre
        </small>
    </h1>

</div>

<div >
    <form action="/resources" method="get">
    <select  id="period" name="period">

        <option value="21">First Semester-2024</option>
        <option value="20">Second Semester-2023</option>
        <option value="19">First Semester-2023</option>
        <option value="18">Second Semester-2022</option>
        <option value="17">First Semester-2022</option>
        <option value="16">Second Semester-2021</option>
        <option value="15">First Semester-2021</option>
        <option value="14">Second Semester-2020</option>
        <option value="13">First Semester-2020</option>
        <option value="12">Second Semester-2019</option>
        <option value="11">First Semester-2019</option>
        <option value="10">Second Semester-2018</option>
        <option value="9">First Semester-2018</option>
        <option value="8">Second Semester-2017</option>
        <option value="6">First Semester-2017</option>
        <option value="5">Second Semester-2016</option>
        <option value="4">First Semester-2016</option>
        <option value="3">Second Semester-2015</option>
        <option value="2">First Semester-2015</option>
        <option value="1">Second Semester-2014</option>
    
    </select>
    <input  type="submit" value="Ir">

    </form>
</div>


<style>
div {
    margin: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

h1 small {
    font-size: 14px;
    color: #666;
}

form {
    margin-top: 20px;
}

select, input[type="submit"] {
    padding: 8px 15px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #b30000;
    margin: 5px;
    border-radius: 15%;
    cursor: pointer;
    border: 1px solid red; 
}


</style>