
<div>
  <label ><h1>login</h1></label>
  <label>Correo electrónico o registro:</label>
  <input type="text" id="email" value="201700697"/>

  <label>Contraseña:</label>
  <input type="password" id="password" value="1234"/>


  <button class="bs" (click)="ingresar()" >Ingresar</button>
</div>
<a href="/registro"> Registrate</a>
<a href="/contra">¿Olvidó su contraseña?</a>


  <style>
        h1{
            color: #b30000;
        }
  div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    border: 1px solid #b30000;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
  }
  .label-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  input[type="text"],
  input[type="password"],
  .bs {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #b30000;
    border-radius: 9999px;
    box-sizing: border-box;
  }
  .bs {
    background-color: #ff0000;
    color: black;
    cursor: pointer;
  }
  .bs:hover {
    background-color: #b30000;
  }
  a {
    display: block;
    text-align: center;
    margin-top: 16px;
    color: #ff0000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  </style>