<div id="Recuperar">
  <label for="titulo"><h1>Recuperar contraseña</h1></label>
  <label>Registro:</label>
  <input type="text" id="Registro" required />
    <label>Correo electrónico:</label>
    <input type="text" id="Correo" required />
    <button (click)="ingresar()">Mandar</button>
</div>

<div id="contra">
  <label for="titulo"><h1>contraseña</h1></label>
  <h2>{{ contras}}</h2>
</div>  
  <a href="/" >Regresar</a>
  
  
  
  <style>
        h1{
            color: #b30000;
        }
      #contra{

          display: none;
        }
  div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    border: 1px solid #b30000;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
  }
  input[type="text"],
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #b30000;
    border-radius: 9999px;
    box-sizing: border-box;
  }
  button {
    background-color: #ff0000;
    cursor: pointer;
  }
  button:hover {
    background-color: #b30000;
  }
  a {
    display: block;
    text-align: center;
    margin-top: 16px;
    color: #ff0000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  </style>